# Ignore unwanted folders
data/temp/
logs/
SIBR_viewers/
submodules/fused-ssim/
submodules/simple-knn/
*.pyc
.vscode
output
build
tensorboard_3d
screenshots

# Backups
submodules_backup/
diff_rast_backup/
*.zip

# External experiments
submodules/pytorch3d/

# Build artifacts
__pycache__/
*.pyc
*.so
*.egg-info/
build/
dist/

# Personal / debug folders
debug_masks_instances/
old_script/
istruzioni/
samuele/
